*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kanit', sans-serif;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(2,50%);
    height: 100vh;
}

.wave{
    background-image: url('../media/img/image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
