{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6ce8f7f47a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Rutas</title>
</head>
<body>
    <header class="header">
        <div class="perfil">
            <a href="" class="Logo"><img src="{% static 'media/img/logo2.png' %}" alt=""></a>
            <nav class="navegacion">
                <ul>
                    <li class="nav-item active"><a href="{% url 'perfil' %}">{{ user.first_name }}</a></li>
                    <li class="nav-item active"><a href="{% url 'cerrar' %}">Cerrar</a></li>
                </ul>
            </nav>
        </div>
        </header>
    <h1>Rutas</h1>
    <input type="text" id="filtro" onkeyup="buscar()" placeholder="Filtro">
    <table border="1" id="table" class="display" data-filter-control="true" data-show-search-clear-button="true">
        <thead>
            <th>Conductor</th>
            <th>Inicio</th>
            <th>rutas</th>
            <th>Fin</th>
            <th>Aceptar?</th>
        </thead>
        <tbody>
            {% for c in rutas %}
            <tr>
                <td><a href="{% url 'perfiles' c.user.username %}">@{{ c.user.first_name }}</a></td>
                <td>{{ c.direccion_inicio }}{{ c.cc_ini }}#{{ c.numero_ini }}<td>
                <td>{{ c.direccion_fin }}{{ c.cc_fin }}#{{ c.numero_fin }}</td>
                <td>
                   <form action="{% url 'dar_like' c.pk %}" method="POST">
                       {% csrf_token %}
                       <button type="submit"><i class="fa-regular fa-thumbs-up"></i><span>{{ c.liked.all.count }}</span></button>
                   </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function buscar(){
            let input, filter, table, tr, td, i, txtValue;

            input = document.getElementById("filtro");
            filter = input.value.toUpperCase();
            table = document.getElementById("table");
            tr = table.getElementsByTagName("tr");

            for(let i = 0; i < tr.length; i++){
                td = tr[i].getElementsByTagName("td")[1,3];
                if(td){
                    txtValue = td.textContent || td.innerText;
                    if(txtValue.toUpperCase().indexOf(filter)>-1){
                        tr[i].style.display = "";
                    }
                    else{
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</body>
</html>